<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
<meta charset="UTF-8">
<title>轮播图管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
<link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />
<link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/animate.min.css}">
<link rel="stylesheet" th:href="@{/iconfont/iconfont.css}">
</head>
<style>
.layui-form-label {
	width: 100px;
}
</style>
<body>

	<div class="page-loading">
		<div class="rubik-loader"></div>
	</div>

	<div class="z-body animated fadeIn">
		<form class="layui-form zadmin-search-area input">
			<div class="layui-form-item">
				<div class="layui-inline">

					<label for="type" class="layui-form-label">定位类型</label>
					<div class="layui-input-inline">
						<select name="type" id="type">
							<option value="">请选择</option>
							<option value="1">商品定位</option>
							<option value="2">分类定位</option>
							<option value="3">主题定位</option>
							<option value="4">优惠劵定位</option>
						</select>
					</div>


					<label for="status" class="layui-form-label">是否显示</label>
					<div class="layui-input-inline">
						<select name="isShow" id="status">
							<option value="">请选择</option>
							<option value="1">是</option>
							<option value="0">否</option>
						</select>
					</div>

					<button lay-submit="" lay-filter="search"
						class="layui-btn layui-btn-sm layui-btn-primary table-action">
						<i class="zadmin-icon zadmin-icon-search"></i>
					</button>
				</div>
			</div>
		</form>

		<table class="layui-hide" id="user-table"></table>
	</div>

	<script type="text/html" id="toolbar">
        <shiro:hasPermission name="user:add">
            <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
                <i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
                新增
            </button>
        </shiro:hasPermission>
    </script>
	<script type="text/html" id="mainImge">
        <img src="{{d.imageUrl}}" style="width:40px;height:60px;" />
    </script>
	<script type="text/html" id="dtype">
		{{#  if(d.type==1) { }}
		商品定位
		{{#  }else if(d.type==2) { }}
		分类定位
        {{#  }else if(d.type==3) { }}
                      主题定位
        {{#  }else if(d.type==4) { }}
                      优惠劵定位
		{{#  }}}
    </script>


	<script type="text/html" id="column-toolbar">
        <shiro:hasPermission name="user:update">
            <a lay-event="edit">
                <i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area zadmin-blue" title="编辑"></i>
            </a>
        </shiro:hasPermission>
        <shiro:hasPermission name="user:delete">
            <a lay-event="del">
                <i class="zadmin-icon zadmin-icon-delete zadmin-oper-area zadmin-red" title="删除"></i>
            </a>
        </shiro:hasPermission>

        <shiro:lacksPermission  name="user:update,user:delete">
            <i class="zadmin-icon zadmin-icon-wuquanxian zadmin-oper-area zadmin-red"></i>无权限
        </shiro:lacksPermission>
    </script>


	<script type="text/html" id="statusTpl">
        {{#  if('<shiro:principal property="username"/>' == d.username) { }}
            <input type="checkbox" disabled name="status" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="status" {{ d.isShow==1 ? 'checked' : '' }}>
        {{#  } }}

        {{#  if('<shiro:principal property="username"/>' !== d.username) { }}
            <input type="checkbox" name="status" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="status" {{ d.isShow==1 ? 'checked' : '' }}>
        {{#  } }}
    </script>

	<script th:src="@{/lib/jquery/jquery.min.js}"></script>
	<script th:src="@{/lib/layui/layui.js}"></script>
	<script th:src="@{/js/common.js}"></script>

	<script>
		layui.config({
			base : projectName()+'/lib/layui/extend/'
		}).use(
				[ 'table', 'element', 'form', 'dtree', 'tablePlug' ],
				function() {
					var table = layui.table;
					var $ = layui.$;
					var form = layui.form;
					var dtree = layui.dtree;
					var tablePlug = layui.tablePlug;

					tablePlug.smartReload.enable(true);

					table.render({
						elem : '#user-table',
						url : projectName()+'/carousel/findPageWithResult',
						page : true,
						toolbar : '#toolbar',
						smartReloadModel : true,
						cols : [ [ {
							type : 'numbers',
							title : '序号',
							width : "5%"
						}, {
							field : 'id',
							title : 'ID',
							width : "10%",
							hide : true
						}, {
							field : 'imageUrl',
							title : '轮播图',
							templet : "#mainImge"
						}, {
							field : 'type',
							title : '定位类型',
							templet : "#dtype"
						}, {
							field : 'address',
							title : '跳转地址'
						}, {
							field : 'createTime',
							title : '创建时间'
						}, {
							field : 'isShow',
							title : '是否显示',
							templet : "#statusTpl",
							width : "12%"
						}, {
							title : '操作',
							fixed : 'right',
							align : 'center',
							toolbar : '#column-toolbar'
						} ] ],
						done : function(res, curr, count) {
							hoverOpenImg();//显示大图

						}
					});

					// 账号状态(正常/锁定)点击事件
					form.on('switch(status)', function(data) {
						if (data.elem.checked) {
							$.post(projectName()+'/carousel/' + data.value + '/enable',
									function(data) {
										handlerResult(data, enableDone);
									});
						} else {
							$.post(projectName()+'/carousel/' + data.value + '/disable',
									function(data) {
										handlerResult(data, disableDone);
									});
						}
					});

					function hoverOpenImg() {
						var img_show = null; // tips提示
						$('td img').hover(
								function() {
									//alert($(this).attr('src'));
									var img = "<img class='img_msg' src='"
											+ $(this).attr('src')
											+ "' style='width:130px;' />";
									img_show = layer.tips(img, this, {
										tips : [ 2, 'rgba(41,41,41,.5)' ],
										area : [ '160px' ]
									});
								}, function() {
									layer.close(img_show);
								});
						$('td img').attr('style', 'max-width:40px');
					}
					// 工具条点击事件
					table.on('toolbar', function(obj) {
						var data = obj.data;
						var event = obj.event;

						if (event === 'add') {
							add();
						}
					});

					// 行点击事件 
					table.on('tool', function(obj) {
						var data = obj.data;
						var event = obj.event;
						if (event === 'edit') {
							edit(data.id);
						} else if (event === 'reset') {
							/*  layer.open({
							     content: '/user/' + data.userId + "/reset",
							     title: "重置密码",
							     area: ['500px', '200px'],
							     type: 2,
							     maxmin: true,
							     shadeClose: true,
							     end: function () {
							         table.reload('user-table');
							     }
							 }); */
						} else if (event === 'del') {
							del(obj);
						}
					});

					function disableDone(data) {
						parent.layer.msg("设置不显示成功", {
							icon : 6
						});
					}

					function enableDone(data) {
						parent.layer.msg("设置显示成功", {
							icon : 6
						});
					}

					function add() {
						layer.open({
							content : projectName()+"/carousel",
							title : "新增轮播图",
							area : [ '40%', '85%' ],
							type : 2,
							maxmin : true,
							shadeClose : true,
							end : function() {
								table.reload('user-table');
							}
						});
					}

					function del(obj) {
						layer.confirm("确定删除该轮播图吗?", {
							icon : 3,
							title : '提示'
						}, function(index) {//确定回调
							var id = obj.data.id;
							$.post(projectName()+'/carousel/' + id, {
								_method : "DELETE"
							}, function(data) {
								layer.close(index);
								handlerResult(data, deleteDone);
							});
						}, function(index) {//取消回调
							layer.close(index);
						});
					}

					function deleteDone(data) {
						parent.layer.msg("删除成功", {
							icon : 6
						});
						table.reload('user-table');
					}

					function edit(id) {
						layer.open({
							content : projectName()+'/carousel/edit/' + id,
							title : "编辑",
							area : [ '40%', '85%' ],
							type : 2,
							maxmin : true,
							shadeClose : true,
							end : function() {
								table.reload('user-table');
							}
						});
					}

					form.on('submit(search)', function(form) {
						table.reload('user-table', {
							where : form.field
						});
						return false;
					});

				});
	</script>
</body>

</html>